<!DOCTYPE html>
<html lang= "en">
    <link rel="stylesheet" href="/css/style.css"/>
<head>
    <body>
    <meta charset="UTF-8">
    <title>Niner Transit</title>

</head>
<nav>   
    <ul>
        <img src="http://localhost:3000/images/All-in-C.png" alt="UNCC logo" height ="75">
    <li> <a class="navbar" href='/users/new'>Sign Up</a></li>
    <li> <a class="navbar" href='/users/login'>Login</a></li>
    <li> <a href="/index">Home</a></li>
    <li><a href="/linetrends">Line Trends</a></li>
    <li><a href="/stoptrends">Stop Trends</a></li>
    <li><a href="/interactivemap">Interactive Map</a></li>
    <li><a href="/suggestions">Suggestions</a></li>
    
    </ul>
</nav>
