<!DOCTYPE html>
<html lang= "en">
    <link rel="stylesheet" href="/css/style.css"/>
<head>
    <body>
    <meta charset="UTF-8">
    <title>Niner Transit</title>

</head>
<nav>
    <h1> Niner Transit </h1>
    <a href="/index">Home</a>
    <a href="/linetrends">Line Trends</a>
    <a href="/stoptrends">Stop Trends</a>
    <a href="/interactivemap">Interactive Map</a>
    <a href="/suggestions">Suggestions</a>
    <a class="navbar" href='/users/new'>Sign Up</a>
    <a class="navbar" href='/users/login'>Login</a>
</nav>