<!DOCTYPE html>
<html lang= "en">
    <link rel="stylesheet" href="/css/style.css"/>
  
<head>
    
    <meta charset="UTF-8">
    <title>Niner Transit</title>


<nav>   
    <ul>
        
    <img src="http://localhost:3000/images/Horizontal_logo_green.png" alt="UNCC logo" height ="75">
    <li> <a class="navbar" href='/users/new'>Sign Up</a></li>
    <li> <a class="navbar" href='/users/login'>Login</a></li>
    <li><a href="/users/suggestions">Suggestions</a></li>
    <li><a href="/trends/interactivemap">Interactive Map</a></li>
    <li><a href="/trends/linetrends01">Line Trends</a></li>
    <li><a href="/trends/stopTrends01">Stop Trends</a></li>
    <li> <a href="/index">Home</a></li>
    

    
    </ul>
</nav>
</head>
