<!DOCTYPE HTML>
<html lang="en" dir="ltr">
    <head>
        <meta charset = "utf-8">
        <title>Error</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body>
        <div id="error-page">
            <div class="content">
                <h2 class ="header" data-text="404">404</h2>
                <h4 data-text="Page not found">Page not found</h4>
                <p>Sorry, the page you are looking for does not exist.</p>
            </div>
        </div>
    </body>
</html>