
<%- include('./partials/header.ejs')%>




<div class="row">
    <div class="column">
        <h1 class="GreenName"> Green Line</h1>
        <img src="http://localhost:3000/images/green.jpg" class = GreenImage alt="Green">
   <p>The Green route connects North Deck to central campus and south village.</p>
   <p>Monday - Friday   6AM - 2AM</p>
   <p>Satuday - Sunday  9AM - 2AM</p>
        </div>

        

  
    <div class="column">
        <h1 class = "GoldName"> Gold Line</h1>
        <img src="http://localhost:3000/images/gold.jpg" class = GoldImage alt="Gold">
      <p> The Gold route connects South Village to Foundation Bldg. to central and north campus.</p>
      <p>Monday - Friday 6AM - 2AM</p>
    </div>
    <div class="column">
        <h1 class="SilverName"> Silver Line</h1>
    <img src="http://localhost:3000/images/Silver.jpg" class = SilverImage alt="Silver">
    <p>The Silver route connects Lot 6 at John Kirk to East Deck, The student Union and CRI</p>
    <p>Monday - Friday 6AM - 2AM</p>
    <p>Saturday - Sunday 9AM - 2AM </p>
   

    </div>
  
    <h1>What We Do</h1>
<p>
We are a UNCC team working with Niner Transit to bring you data about our UNCC bus system. <br>
We want to give students information about bus stop and line trends so they can make informed decisions on what bus lines to take and at what times. <br>
We also want to give transit employees a view on what stops are the busiest so new stops can be proposed to lessen traffic and congestion at existing stops.
</p>


    <h1>UNCC Transit Site</h1>
    <p> Find out more about the UNCC transit system here!</p>
    <a href="https://pats.charlotte.edu/transportation/niner-transit-bus-service">https://pats.charlotte.edu/transportation</a>
    

<%- include('./partials/footer.ejs')%>