
<%- include('./partials/header.ejs')%>

<main>
   <body>
    <div class="card">
    <img src="http://localhost:3000/images/UNCCMap.png" alt="UNCC Map">
    </div>
    <h1>What We Do</h1>
    <p>
    We are a UNCC team working with Niner Transit to bring you data about our UNCC bus system. <br>
    We want to give students information about bus stop and line trends so they can make informed decisions on what bus lines to take and at what times. <br>
    We also want to give transit employees a view on what stops are the busiest so new stops can be proposed to lessen traffic and congestion at existing stops.
    </p>
    <h1>UNCC Transit Site</h1>
<a href="https://pats.charlotte.edu/transportation/niner-transit-bus-service">Niner Transit</a>
    </body>
    </main>





<%- include('./partials/footer.ejs')%>