ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 116, 0);
}

li {
  align-content: center;
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: #111;
}

html {
  width: 100%;
  height: 100%;
  background-color: rgb(247, 255, 245);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'georgia';
}




h3{
  align-content: center;
  font-size: 25pt;
}

.graphLeft{
  padding-right: 1600px;
}

.rightDivLine{
  border-top: 150px;
   height: 100%;
   width: 40%;
   float: right;
   }	
   .rightDiv{
    padding: 160px 0;
     height: 100%;
     width: 40%;
     float: right;
     }	

.leftDiv{
height: 100%;
width: 60%;
float: left;
}

.imageLeft{
  width:50%;
  height: 500px;
  float: left;
  padding-top: 100px;
  padding-left: 55px;
}

.textRight{
  margin-left: 50%;
  height: 100px;
  padding-top: 100px;
}

.table_Data {
  border-top: 150px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  border: 3px solid goldenrod;
}

.table_Data td  {
  padding: 10px;
  border: 3px solid goldenrod;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: goldenrod;
  text-align: center;
}

input[type=text], select, textarea {
  width: 50%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#main {
  width: max-content;
  margin: 40px auto;
  font-family: "Segoe UI", sans-serif;
  padding: 25px 28px;
  background: rgb(0, 116, 0);
  border-radius: 4px;
  border: 1px solid #302d2d;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes popup {
  0% {
      transform: scale(0.2);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 400;
  color: white;
}
.input-parent {
  display: block;
  margin-bottom: 20px;
}
label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #a4a4a4;
}
.input-parent input {
  padding: 10px 8px;
  width: 100%;
  font-size: 16px;
  background: goldenRod;
  border: none;
  color: white;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;
}
.input-parent input:hover {
  background: goldenRod;
}
.input-parent input:focus {
  box-shadow: 0px 0px 0px 1px #00ff48;
}
button{
  padding: 10px 18px;
  font-size: 15px;
  background: goldenrod;
  width: 100%;
  border: black;
  border-radius: 4px;
  color: #f4f4f4;
  transition: all 0.2s ease;
}

.month {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
body{
  margin: 0px
}
form{
  padding-left: 25px;
}
h4{
  padding-left: 25px;
  font-size: 20px;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
  height: 700px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.GreenImage{
  border:5px solid green;
}
.GoldImage{
  border:5px solid gold;
}
.SilverImage{
  border:5px solid silver;
}

.greenlist{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1rem;
}
ol li{
  list-style-type: circle;
  font: bold;
  text-align: justify;
}

.GoldName{
  background-color: gold;
  
}
.GreenName{
  background-color: green;
}
.SilverName{
  background-color: Silver;
}

h1{
background-clip: padding-box;
}