ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(74, 163, 10);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


html {
  width: 100%;
  height: 100%;
  background-color: rgb(220, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  background-color: rgb(0, 116, 0);
  text-align: center;
  font-size: 60pt;
}

p{
  font-size: 15pt;    
  font-weight: bold;
  text-emphasis-color: rgb(255, 255, 255);
}
div{
  border: black;
}
h3{
  align-content: center;
  font-size: 25pt;
}
ul{
  align-content: center;
}

.graphLeft{
  padding-right: 1600px;
}

.rightDiv{
  margin-left: 50%;
  height: 100px;
  padding-top: 125px;
}

.leftDiv{
  width: 50%; 
  height: 100px; 
  float: left;
  padding-left: 300px;
  padding-top: 75 px;
}

.table_Data {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  border: 3px solid goldenrod;
}

.table_Data td  {
  padding: 10px;
  border: 3px solid goldenrod;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: goldenrod;
  text-align: center;
}