<%- include('../partials/header.ejs')%>
<form action="#!" id="main">
    <h2>Login to your account</h2>

    <div class="input-parent">
      <label for="username">Username or Email</label>
      <input type="text" id="username">
    </div>

    <div class="input-parent">
      <label for="password">Password</label>
      <input type="password" id="password">
    </div>

    <button type="submit">Login</button>
  </form>
    <%- include('../partials/footer.ejs')%>