<%- include('../partials/header.ejs')%>
<form action="#!" id="main">
    <h2>Sign Up for an account</h2>

    <div class="input-parent">
      <label for="username">First Name</label>
      <input type="text" id="username">
    </div>
    <div class="input-parent">
        <label for="username">Last Name</label>
        <input type="text" id="username">
      </div>
      <div class="input-parent">
        <label for="username">Username or Email</label>
        <input type="text" id="username">
      </div>

    <div class="input-parent">
      <label for="password">Password</label>
      <input type="password" id="password">
    </div>

    <button type="submit">Sign Up</button>
  </form>
    <%- include('../partials/footer.ejs')%>